version: "3.9"

services:
  service-a:
    build: ./services/service-a
    container_name: service-a
    env_file:
      - ./services/service-a/.env
    ports:
      - "3001:3001"
    restart: unless-stopped

  service-b:
    build: ./services/service-b
    container_name: service-b
    env_file:
      - ./services/service-b/.env
    ports:
      - "3002:3002"
    restart: unless-stopped
